.navbar-container {
  background-color: rgb(78, 42, 132);
}

.navbar-content {
  align-items: center;
  display: flex;
}

.navbar-title {
  color: white;
  font-weight: bold;
}

.navbar-username {
  right: 0;
  color: white;
}

.navbar-title:hover {
  color: lightgray;
  font-weight: bold;
}

.navbar-signout-button {
  margin-left: 10px;
  border: 2px solid white;
  color: white;
  background-color: #b19cd9;
}

.navbar-signout-button:hover {
  color: black;
  background-color: white;
}
