.card {
  background: #fff;
  border-radius: 0.6em;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 200ms;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.user-interests {
  font-size: 14px;
  margin-right: 10px;
  opacity: 0.7;
}

.user-interests-container {
  margin-top: 10px;
}

.user-interests-warning {
  font-weight: bold;
  font-size: 15px;
  color: grey;
}
