.interests-add-button {
  text-align: center;
  align-items: center;
  margin-left: 5px;
  background-color: rgb(78, 42, 132);
  border: 1.5px solid white;
}

.interests-add-button:hover {
  background-color: rgb(78, 42, 132);
  border: 1.5px solid white;
  transform: scale(1.2);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.interests-list {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.interests-badges {
  margin: 5px;
  opacity: 0.8;
  font-size: 22px;
  color: white;
}

.interests-badges:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.user-interests-description {
  margin-top: 10px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 16px;
  color: grey;
}
